* {
    font-family: 'Outfit', sans-serif;
}

@media screen and (max-width: 500px) {
    h1{
        font-size: 22px;
        padding: 40px 0px 30px 0px;
        margin: 0;
    }
    h2 {
        font-size: 16px;
    }
    h3{
        font-size: 14px;
    }
    p{
        font-size: 12px;
    }
    header{
        display: flex;
        height: 82px;
        justify-content: center;
        margin: 0 auto ;
    }
    .titlle-prin{
        font-size: 22px;
        margin: 0;
    }
    body {
        background-image: url(../static/background-site.png);
        background-position: center;        
        margin: 16;
        color: white;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        text-align: center;
        /* Defina a altura do corpo como 100% da viewport */
    }

    .Back {
        border: 1px solid #009D61;
      }

    #head {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 150px;
        /* Defina uma altura para o cabeçalho para evitar problemas de altura mínima. Ajuste conforme necessário. */
    }

    #menu {
        display: flex;
    }

    #menu ul {
        list-style: none;
    }

    /* Estilos para os itens do menu */
    #menu li {
        font-size: 20px;
        font-weight: 400;
        margin-top: 30px;
        padding: 20px 50px;
        /* Defina uma borda inicial transparente */
        border-radius: 10px;
    }

    /* Estilos para as cores das bordas dos botões */
    #op-galeria {
        width: 100%;
        border: 2px solid #08F200;
        /* Cor da borda para o botão Galeria */
    }

    #op-processo {
        width: 100%;
        border: 2px solid #009D61;
        /* Cor da borda para o botão Processo */
    }

    #op-manifesto {
        width: 100%;
        border: 2px solid #FF0293;
        /* Cor da borda para o botão Manifesto */
    }

    #op-equipe {
        width: 100%;
        border: 2px solid #009D61;
        /* Cor da borda para o botão Equipe */
    }

    #op-interaja {
        width: 100%;
        border: 2px solid #FE7000;
        /* Cor da borda para o botão Equipe */
    }

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
        /* Ajuste a margem superior do rodapé */
    }

    .redessociais {
        align-items: center;
        width: 96px;
        height: 22px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 60px 0px 0px 0px;
    }
    .redessociais a {
        font-size: 22px;
    }

    .footer p {
        font-size: 16px;
        text-align: center;
        width: 350px;
        margin-top: 20px;
    }

    a {
        text-decoration: none;
        color: #ffffff;
    }

    .fab {
        text-decoration: none;
        color: #ffffff;
    }
    .div-text{
        background-color: rgba(39, 39, 39, 0.4);
        border-radius: 5px;
    }
    .div-text p {
        margin: 5px 5px;
        text-align: left;
    }
}