<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipe Desfile Maker</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="equipe.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Outfit:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
     
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/equipe.css">
</head>

<body>
    <header class="teste">
        <a href="../index.html"><i class="fas fa-angle-left" href="../templates/index.html"></i></a>
        <a href="../index.html"><p class="titlle-prin">Making of</p></a>
    </header>
    <div class="video">
        <video>

        </video>
    </div>
        <h2>Equipe Desfile Maker</h2>
    <section class="section-equipe">
        <div class="alinhar-title">
            <h3>Desenvolvedores Web</h3>    
        </div>
            <div class="div-equipe">
                <div>
                    <div class="equipe-profile-picture">
                        <img src="../src/img/profile.jpeg" alt="">
                    </div>
                    <p>Regina Lima</p>
                </div>
                <div>
                    <div class="equipe-profile-picture">
                        <img src="../src/img/profile.jpeg" alt="">
                    </div>
                    <p>Regina Lima</p>
                </div>
                <div>
                    <div class="equipe-profile-picture">
                        <img src="../src/img/profile.jpeg" alt="">
                    </div>
                    <p>Regina Lima</p>
                </div>
                <div>
                    <div class="equipe-profile-picture">
                        <img src="../src/img/profile.jpeg" alt="">
                    </div>
                    <p>Regina Lima</p>
                </div>
                <div>
                    <div class="equipe-profile-picture">
                        <img src="../src/img/profile.jpeg" alt="">
                    </div>
                    <p>Regina Lima</p>
                </div>
            </div>
    </section>
    <section class="section-equipe">
        <div class="alinhar-title">
            <h3>Desenvolvedores Web</h3>    
        </div>
            <div class="div-equipe">
                <div>
                    <div class="equipe-profile-picture">
                        <img src="../src/img/profile.jpeg" alt="">
                    </div>
                    <p>Regina Lima</p>
                </div>
                <div>
                    <div class="equipe-profile-picture">
                        <img src="../src/img/profile.jpeg" alt="">
                    </div>
                    <p>Regina Lima</p>
                </div>
                <div>
                    <div class="equipe-profile-picture">
                        <img src="../src/img/profile.jpeg" alt="">
                    </div>
                    <p>Regina Lima</p>
                </div>
                <div>
                    <div class="equipe-profile-picture">
                        <img src="../src/img/profile.jpeg" alt="">
                    </div>
                    <p>Regina Lima</p>
                </div>
                <div>
                    <div class="equipe-profile-picture">
                        <img src="../src/img/profile.jpeg" alt="">
                    </div>
                    <p>Regina Lima</p>
                </div>
            </div>
    </section>
    <section class="section-equipe">
        <div class="alinhar-title">
            <h3>Desenvolvedores Web</h3>    
        </div>
            <div class="div-equipe">
                <div>
                    <div class="equipe-profile-picture">
                        <img src="../src/img/profile.jpeg" alt="">
                    </div>
                    <p>Regina Lima</p>
                </div>
                <div>
                    <div class="equipe-profile-picture">
                        <img src="../src/img/profile.jpeg" alt="">
                    </div>
                    <p>Regina Lima</p>
                </div>
                <div>
                    <div class="equipe-profile-picture">
                        <img src="../src/img/profile.jpeg" alt="">
                    </div>
                    <p>Regina Lima</p>
                </div>
                <div>
                    <div class="equipe-profile-picture">
                        <img src="../src/img/profile.jpeg" alt="">
                    </div>
                    <p>Regina Lima</p>
                </div>
                <div>
                    <div class="equipe-profile-picture">
                        <img src="../src/img/profile.jpeg" alt="">
                    </div>
                    <p>Regina Lima</p>
                </div>
            </div>
    </section>


    <div class="footer">
        <div class="redessociais">
            <a href="" class="fab fa-facebook"></a>
            <a href="" class="fab fa-twitter"></a>
            <a href="" class="fab fa-instagram"></a>
        </div>
        <p>2023 Todos os direitos reservados - <strong>Faculdade Senac</strong></p>
    </div>
</body>

</html>