<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Galeria</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Outfit:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/style.css">
  <link rel="stylesheet" href="../static/galeria.css">
  
  
</head>
<body>
  <h1>Coleção Pontes do Recife</h1>
  <a class="Back" href="../templates/index.html"><p>Voltar</p></a>
  <br>
  <section class="card-section">
    <div class="row">
      <a href="conjuntoLetras.html">
        <div class="card">
          <div class="div-look-galeria">
            <img src="../src/img/conjuntoLetras.png" alt="">     
          </div>
          <p class="titlle-look">Conjunto Letras</p>
        </div>
      </a>
      <a href="conjuntoMandala.html">  
        <div class="card">
          <div class="div-look-galeria">
            <img src="../src/img/conjuntoMandala.jpg" alt="">
          </div>
          <p class="titlle-look">Conjunto Mandala</p>
        </div>
      </a>
      <a href="conjuntoPonte.html">
        <div class="card">
          <div class="div-look-galeria">
            <img src="../src/img/ConjuntoPonte.png" alt="">
          </div>
          <p class="titlle-look">Conjunto Ponte</p>
        </div>
      </a>
    </div>
  </section>
  <section class="card-section">
    <div class="row">
      <a href="vestidoPortal.html">
        <div class="card">
          <div class="div-look-galeria">
            <img src="../src/img/vestidoPortal.png" alt="">
          </div>
          <p class="titlle-look">Vestido Portal</p>
        </div>
      </a>
      <a href="vestidoXicara.html">
        <div class="card">
          <div class="div-look-galeria">
            <img src="../src/img/vestidoXicara.png" alt="">
          </div>
          <p class="titlle-look">Vestido Xícara</p>
        </div>
      </a>
      <a href="macacaoCobra.html">
        <div class="card">
          <div class="div-look-galeria">
            <img src="../src/img/macacaoCobraMaluca.png" alt="">
          </div>
          <p class="titlle-look">Macacão Cobra</p>
        </div>
      </a>
    </div>
  </section>
  <section class="card-section">
    <div class="row">
      <a href="macacaoGrafiti.html">
        <div class="card">
          <div class="div-look-galeria">
            <img src="../src/img/macacaoGrafi.png" alt="">
          </div>
          <p class="titlle-look">Macacão Grafite</p>
        </div>
      </a>
      <a href="VestidoBalao.html">  
        <div class="card">
          <div class="div-look-galeria">
            <img src="../src/img/vestidoBalao.png" alt="">
          </div>
          <p class="titlle-look">Vestido Balão</p>
        </div>
      </a>
      <a href="vestidoLimoeiro.html">
        <div class="card">
          <div class="div-look-galeria">
            <img src="../src/img/vestidoLimoeiro.png" alt="">
          </div>
          <p class="titlle-look">Vestido Limoeiro</p>
        </div>
      </a>      
    </div>
  </section>
  <a href="vestidoNoiva.html">
    <div class="card">
      <div class="div-look-galeria">
        <img src="../src/img/vestidoNoiva.png" alt="">
      </div>
      <p class="titlle-look">Vestido Noiva</p>
    </div>
  </a>
  <div class="footer">
    <div class="redessociais">
        <a href="" class="fab fa-facebook"></a>
        <a href="" class="fab fa-twitter"></a>
        <a href="" class="fab fa-instagram"></a>
    </div>
    <p>2023 Todos os direitos reservados - <strong>Faculdade Senac</strong></p>
  </div>

  
</body>
</html>