<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desfile Maker VOl.2</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Outfit:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

  </head>
<body>
  <header class="teste">
    <p class="titlle-prin">Manifesto</p>
  </header>
  <div class="div-text">
    <p>
      Nós, do RecN'Play TechModa Senac Recife, elevamos nossas vozes para celebrar a interseção deslumbrante entre a moda, a inovação 
      tecnológica e a arte. Sob as luzes cintilantes da cidade, apresentadas com orgulho a coleção "Pontes do Recife", uma homenagem à cidade 
      que nos inspira a transcender os limites da criatividade.
      Pontes do Recife: Mais do que uma coleção, é um testemunho vivo da sinergia entre a moda e a tecnologia. É um chamado à revolução criativa,
      uma reunião do potencial transformador da colaboração audaciosa entre esses universos aparentemente diferentes. <br><br>

      Nossas peças são mais do que roupas; são expressões artísticas em constante evolução. Incorporamos elementos estruturais da moda com toques
      de tecnologia visual, criando uma visão futurista e ousada do vestuário. Cada peça é uma obra-prima, onde a moda se torna uma tela para a 
      expressão artística.<br><br>

      A coleção Pontes do Recife mergulha profundamente na estética moderna e funcional, explorando as possibilidades ilimitadas da tecnologia. 
      Utilizamos arduinos, LEDs e acessórios tecnológicos com designs inovadores, unindo-os a texturas originais inspiradas pelo grafite urbano. 
      Além disso, incorporamos a impressão 3D, que nos permite dar vida a formas e estruturas únicas e personalizadas, criando um impacto visual
      de tirar o fôlego.<br><br>

      Mas nossa inovação não para por aí. Introduzimos o corte a laser em MDF para criar acessórios e estruturas integradas às roupas, 
      adicionando uma dimensão tridimensional à moda. Estas estruturas, meticulosamente elaboradas, não são apenas complementos, mas sim obras 
      de arte em si, que unem a precisão da tecnologia ao calor da expressão humana.<br><br>

      Convidamos todos a testemunhar a fusão arrebatadora de arte, moda, tecnologia e artesanato em um palco que reflete a vanguarda da 
      criatividade contemporânea. "Pontes do Recife" não é apenas uma coleção, é uma experiência que transcende as fronteiras do convencional. 
      É um convite para explorar novos horizontes, para quebrar barreiras e abraçar a interseção única entre tradição e inovação, entre arte e 
      tecnologia.<br><br>

      Hoje, proclamamos que a moda não é estática, mas sim uma tela em constante evolução, onde a tecnologia é a tinta que dá vida à nossa visão.
      Juntos, construiremos novas pontes entre o passado e o futuro, entre a moda e a tecnologia, e entre a criatividade e a inovação. Estamos 
      unidos na busca pela expressão mais pura da criatividade humana, e é através desta fusão que redefiniremos os limites do possível.<br><br>

      Venha conosco nessa jornada extraordinária enquanto celebramos as "Pontes do Recife" e nos tornamos testemunhas de uma nova era na moda, 
      tecnologia e arte. Estamos à beira de uma revolução, onde a criatividade, a inovação e a paixão se fundem em um espetáculo deslumbrante 
      que moldará o futuro da moda.<br><br>
    </p>
  </div>
  <br>
  <a class="Back" href="../index.html"><p>Voltar</p></a>
    <div class="footer">
        <div class="redessociais">
            <a href="" class="fab fa-facebook"></a>
            <a href="" class="fab fa-twitter"></a>
            <a href="" class="fab fa-instagram"></a>
        </div>
        <p>2023 Todos os direitos reservados - <strong>Faculdade Senac</strong></p>
    </div>
</body>
</html>