<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipe Desfile Maker</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="equipe.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Outfit:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
     
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/equipe.css">
</head>

<body>
    <header class="teste">
        
        <h1>Processo criativo</h1>
    </header>

    <img src="../src/img/processo.jpg" alt="">

    <br>
    <a class="Back" href="../templates/index.html"><p>Voltar</p></a>

    <div class="footer">
        <div class="redessociais">
            <a href="" class="fab fa-facebook"></a>
            <a href="" class="fab fa-twitter"></a>
            <a href="" class="fab fa-instagram"></a>
        </div>
        <p>2023 Todos os direitos reservados - <strong>Faculdade Senac</strong></p>
    </div>
</body>

</html>